<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.bootcss.com/vue/2.5.21/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.2/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <template v-show="1">
            <label>Username</label>
            <input placeholder="Enter your username" key="555">
        </template>
        <!-- <template v-else>
            <label>Email</label>
            <input placeholder="Enter your email address">
        </template> -->
        <ul>
            <li v-for="(item, index) in dataList">
                {{item}}
            </li>
        </ul>

        <input type="text" v-model="loginType">
    </div>

    <script>
    var data = { a: 1 }
    var vm = new Vue({
        el: '#app',
        data: {
            loginType: "username",
            dataList: [1,2,3]
        },
        
    })
    </script>
</body>

</html>